{% extends 'base.html' %}
    <!--Beginning of block title-->
    {% block title %}
        Register
    {% endblock title %}

    {% block content%}
    <!--Beginning of block content-->
        <form class="form-class" method = "post">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == "error" %}
                            <div class="alert alert-danger">
                                <strong>{{message}}</strong>
                            </div>
                        {% else %}
                            <div class="alert alert-{{message.tags}}">
                                <strong>{{message}}</strong>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% csrf_token %}
            <legend>REGISTRATION FORM</legend>
            <label for = "firstname" class="form-label">First Name:</label>
            <input class="form-control" type="text" name="first_name" id="firstname"
            {% if form.is_bound %} value="{{form.first_name.value}}" {% endif %}><br>
            
            <label class="form-label" for = "lastname">Last Name:</label>
            <input class="form-control" type="text" name="last_name" id="lastname" 
            {% if form.is_bound %} value="{{form.last_name.value}}" {% endif %}><br>

            <label class="form-label" for = "username">Username:</label>
            <input class="form-control" type="text" name="username" id="username" 
            
            {% if form.is_bound %} value="{{form.username.value}}" {% endif %}><br>

            <label class="form-label" for = "email">Email Address</Address>:</label>
            <input class="form-control" type="email" name="email" id="email" 
            {% if form.is_bound %} value="{{form.email.value}}" {% endif %}><br>

            <label class="form-label" for = "password">Password:</label>
            <input class="form-control" type="password" name="password" id="password" 
            {% if form.is_bound %} value="{{form.password.value}}" {% endif %}><br>

            <label class="form-label" for = "password1">Confirm Password:</label>
            <input class="form-control" type="password" name="password1" id="password1" 
            {% if form.is_bound %} value="{{form.password1.value}}" {% endif %}><br>

            <!--Submit button-->
            <input class="btn btn-primary" type="submit" value="Register">
        </form>
    {% endblock content %}